@model IEnumerable<CommonLayer.Models.Patient>

@{
    ViewData["Title"] = "GetAllPatients";
}

<h1 id="al-titl">Patients Profiles</h1>

<hr id="hr" />

<p>
    @* <a asp-action="Create">Create New</a> *@

    @* @Html.ActionLink("Create", "RegisterPatient", new { /* id=item.PrimaryKey */ }) *@

</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                <div id="dob">
                    @Html.DisplayNameFor(model => model.DOB)
                </div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTrash)
            </th>
            <th>
                <div id="crtd-at">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.DOB) *@
                @item.DOB.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTrash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <div id="option-btns" >
                        @Html.ActionLink("Edit", "UpdatePatient", new { id = item.PatientId }) <br/>
                        @Html.ActionLink("Details", "GetPatientById", new { patientId = item.PatientId }) <br />
                        @Html.ActionLink("Delete", "DeletePatient", new { patientId = item.PatientId })
                </div>
                    
            </td>
        </tr>
}
    </tbody>
</table>
